
<section>
	  <div class="navbar-fixed md-navheight" >
	    <nav class="md-outerhome">
	      <div class="nav-wrapper">
	        <a href="#!" class="brand-logo"><img src="assets/images/whitelogo.png" > </a>
	        <ul class="right hide-on-med-and-down">
	             <!-- <li><a>About Us</a></li> -->
          		<!--  <li><a ui-sref="contactus">FAQ</a></li> -->
          		 <li><a ui-sref="contactus">Contact Us</a></li>
          		 <li><a ui-sref="loginsignup">Login/Signup</a></li>
	        </ul>
	      </div>
	    </nav>
  </div>
</section>
<!--*********SLIDER SECTION STRAT*************-->
  <section>
          <div class="row rw-btm">
			<div class="slider">
					<ul class="slides">
				 	<!--******** ITEM ONE************-->
				 	
                        <li>
                            <img src="assets/images/slider/slider.jpg">
                            <!-- random text -->
                           <div class="caption center-align mttop100">
                              <center><div class="lmn-sldicon img2"></div></center>
							  <h5>YOUR ONE STOP MEDICAL ASSISTANT</h5>
								 <div class="knw-mt">
									<a ui-sref="loginsignup"><span class="md-slidersignup">SIGN UP</span ><span class="md-slidersignin">SIGN IN</span></a>
								</div>
						   </div>
                        </li> 
                         <!--******** ITEM TWO************-->
                        <li>
                            <img src="assets/images/slider/slider-01.jpg">
                            <!-- random text -->
                           <div class="caption center-align mttop100">
                              <center><div class="lmn-sldicon img2"></div></center>
							  <h5>YOUR ONE STOP MEDICAL ASSISTANT</h5>
								 <div class="knw-mt">
									<a ui-sref="loginsignup"><span class="md-slidersignup">SIGN UP</span ><span class="md-slidersignin">SIGN IN</span></a>
								</div>
						   </div>
                        </li> 
                         
					</ul>
				  </div>
			</div>
</section>
<!--HEADER DIRECTIVE-->
<section class="md-aboutus" >
	 <div class="container aboutcontainer">
	 	<div class="row">
	 		<div class="col s12 m12 l12">
	 			<div class="col s12 m6 l6">
	 				<h5 class="md-aboutheading">About</h5>
	 				<p class="md-aboutcnt">Medfy is the smart way to manage your and your family's medical records</p>
	 				<p class="md-aboutcnt">You can add records with ease, use them chronologically and even share them with your doctor</p>
	 				<div class="col s12 m4 l4">
						<a href="https://play.google.com/store/apps/details?id=com.medfyonline" target="_blank"><img src="assets/images/google-app.png" class="responsive-img"></a>
	 				</div>
	 				<div class="col s12 m4 l4">
						<a href="https://itunes.apple.com/in/app/medfy/id1127729881?mt=8" target="_blank"><img src="assets/images/ios-app.png" class="responsive-img"></a>

	 				</div>
	 				<div class="col s12 m4 l4">
						<a href=" https://www.microsoft.com/en-in/store/p/medfy/9nblggh52xb5" target="_blank"><img src="assets/images/windows-app.png" class="responsive-img" ></a>

	 				</div>
	 			</div>
	 			<div class="col s6 m6 l6">
	 				<center><img src="assets/images/phone.png" class="responsive-img" style="height: 337px;"></center>
	 			</div>
	 		</div>
	 	</div>
	 </div>
</section>

<section class="md-features" >
	 <div class="container aboutcontainer">
	 	<div class="row">
	 		<div class="col s12 m12 l12">
	 			<h5 class="md-featireheading">Features</h5>
	 		</div>
	 		<div class="col s12 m6 l6">
	 			<div class="col s12 m12 l12 md-featurefive">
 					<div class="col s6 m2 l2">
			 			<div class=" md-futurecircle">
			 				<img src="assets/images/1.png" class="responsive-img">
			 			</div>
		 			</div>
		 			<div class="col s6 m4 l4">
		 				<p class="md-featutxt">Easy to add records and view on timeline </p>
		 			</div>
		 			<div class="col s12 m2 l2">
			 			<div class=" md-futurecircle">
			 				<img src="assets/images/2.png" class="responsive-img">
			 			</div>
		 			</div>
		 			<div class="col s12 m4 l4">
		 				<p class="md-featutxt">Collaborate with doctors and others by sharing records</p>
		 			</div>
	 			</div>
	 			<div class="col s12 m12 l12 md-featurefive">
 					<div class="col s12 m2 l2">
			 			<div class=" md-futurecircle">
			 				<img src="assets/images/4.png" class="responsive-img">
			 			</div>
		 			</div>
		 			<div class="col s12 m4 l4">
		 				<p class="md-featutxt">Receive reports from labs with ease that automatically get added to your history</p>
		 			</div>
		 			<div class="col s12 m2 l2">
			 			<div class=" md-futurecircle">
			 				<img src="assets/images/3.png" class="responsive-img">
			 			</div>
		 			</div>
		 			<div class="col s12 m4 l4">
		 				<p class="md-featutxt">One repository of full families health record</p>
		 			</div>
	 			</div>
	 			<div class="col s12 m12 l12 md-featurefive">
	 				<div class="col s12 m2 l2 offset-m3 offset-l3">
			 			<div class=" md-futurecircle">
			 				<img src="assets/images/5.png" class="responsive-img">
			 			</div>
		 			</div>
		 			<div class="col s12 m4 l4">
		 				<p class="md-featutxt">Medication alarm</p>
		 			</div>
	 			</div>
	 		</div>
	 		</div>
	 	</div>
	 </div>
</section>

<!--FOOTER DIRECTIVE-->	
<footer></footer>
<script type="text/javascript">
	$('.slider').slider({full_width: true, indicators:false});
	
	var a = $(".md-outerhome").offset().top;
$(document).scroll(function(){
    if($(this).scrollTop() > a)
    {   
       $('.md-outerhome').css({"background":"#34495E"});
    } else {
       $('.md-outerhome').css({"background":"transparent"});
    }
});
</script>