<!--HEADER DIRECTIVE-->
<homenav></homenav>

<!--*********SUB MENU************-->
<!-- <submenu></submenu> -->

<!-- **************pRIVACYPOLICY**************** -->
<section class="md-profilesec">
	<div class="container md-containerpplcy md-box">
		<div class="row rw-btm">
	        <div class="col s12 m12 l12">
	        	<P class="md-pplcyheading">Privacy Policy</P>	
	        	<P class="md-mtspc">This Privacy Policy is to help you to make an informed decision about using or visiting the Medfy website and Mobile App("Medfy") that is provided by SunClan Technologies Private Limited, ("Company") and to explain what information is collected, how it is stored and how it will be used. By visiting the Website and/or using our services, applications, products and content, you are consenting to (i) this Privacy Policy, (ii) the Medfy Terms and Conditions of Service and (iii) to have your personal data transferred to and processed in India in accordance with the terms of this Privacy Policy.</P>	
	        	<P class="md-pplcyheading">Non personal information we collect about you</P>
	      	    <P class="md-mtspc">We collect non personal Information about your use of Medfy.</P>
	      	    <p class="md-pplcyheading">1.A. Personal Information we Collect about You</p>
	      	    <p class="md-mtspc">We collect personally identifiable information, like your name, email address etc. which you provide to us when you register as a member of Medfy and/or when you update your member profile. We use the personally identifiable information that you provide to respond to your questions, provide you with the specific services you select, send you emails about website maintenance and updates, and inform you of significant changes to this privacy policy.</p>
	      	    <p class="md-pplcyheading">1.B. Registration and use through Employers and Health Care Entities.</p>
	      	    <p class="md-mtspc">If you are an employee or member through a health care entity who has enabled access to your health record at the Website by registering at your employer's or health care entitiy's website, the privacy policy applicable to your information at your employer's or health care entities website remains applicable to your personal health record at the Website. If your employer or health plan account is no longer made available to you by your employer or health care entity, you will continue to have access to your health information from your account at the Website, using the same username and password. In this situation, the privacy policy that applies to your information will be the privacy policy at the Website. Except for employees or health care entity members covered by their employer's or health care entities privacy policy described above, the following applies to your access to the Website: :</p>
	      	    <div class="col l11 m11 s11 offset-l1 offset-m1">
	      	    		<p class="md-pplcyheading">1.a Aggregate Data </p>
	      	    		<p class="md-mtspc">The Website may combine, in a non-identifiable format, the Personal Health Information you provide with information from other users to create Aggregate Data that may be disclosed to third parties. Aggregate data does not contain any information that could be used to contact or identify you.</p>

	      	    		<p class="md-pplcyheading">1.b Unique Identifiers </p>
	      	    		<p class="md-mtspc">The Website tailors the information you receive on your account to reflect your interests, concerns and personal health characteristics. We attach a unique identifier (UI) to every piece of information that you provide us.</p>

	      	    		<p class="md-pplcyheading">1.c Interactive Tools on the Website</p>
	      	    		<p class="md-mtspc">Interactive tools within the Website, gather self-reported Personal Health Information. Additionally, some of these tools can store Personal Health Information coming from third party data interchange agreements between your employer, health care provider, pharmacy, lab and diagnostic centre, doctor and other third parties that provide data interchange services.</p>

	      	    		<p class="md-pplcyheading">1.d Emails you send to the Website </p>
	      	    		<p class="md-mtspc">This Privacy Policy does not apply to content, business information, ideas, concepts or inventions that you send to the Website by email. If you want to keep content or business information, ideas, concepts or inventions private or proprietary, do not send them in an email to the Website. We try to answer every email within 48 business hours, but are not always able to do so.</p>

	      	    		<p class="md-pplcyheading">1.e  Information Sharing and Account access by the account holder </p>
	      	    		<p class="md-mtspc">You can share and give access to your personal health information and account with the following people and entities who are designated and permitted by you as such.</p>
	      	    		<ul>
	      	    			<li>- Family and Friends</li>
	      	    			<li>- Doctors and Physicians</li>
	      	    			<li>- Health Care entities like Hospitals, Clinics, labs and diagnostic centres specified by you</li>
	      	    			<li>- Employers</li>
	      	    			<li>- Any other designated third parties</li>
	      	    		</ul>
	      	    </div>
	      	    <p class="md-pplcyheading">1.C. Notification of Changes</p>
	      	    <p class="md-mtspc">Any change to this Privacy Policy shall be posted in the Website so that you shall always know what information we are collecting how we use it and what choices you have.</p>
	      	    <p class="md-pplcyheading">Disclaimer</p>
	      	    <p class="md-mtspc">All Information on this Website will have no responsibility for the accuracy or completeness of the Information. The obligations and responsibilities are governed solely by the Terms and Conditions under which they are offered or licensed.</p>
	      	    <p class="md-mtspc">The information is provided without warranty of any kind including without limitation of any implied warranties of merchantability or fitness for a particular purpose or non-infringement.</p>
	      	    <p class="md-mtspc">To the maximum extent permitted by law, in no event shall the Company be liable to the visitor of this Website or any other party or person, whether in contract, tort or otherwise, for any direct, indirect, incidental, consequential or punitive damages including loss of savings or profit, loss of data, interruption to business or legal fees, arising out of or in connection with the use of any information available from this Web site or any other hyperlinked web site, even if the Website expressly advised of the possibility of such damages.</p>
	      	    <p class="md-mtspc">This Web site may contain hyperlinks to other web sites controlled by parties other than the Company and Company is not responsible for and does not endorse the contents or use of these web sites. Any access or use of such hyperlinks to other web sites is at the discretion and risk of the intended user</p>
	        </div>
		 </div>
	</div>
</section>

<!-- ***************FOOTER********* -->
<footer></footer>